@import url('https://rsms.me/inter/inter-ui.css');
body {
  align-items: center;
  background: linear-gradient(-45deg, #210242, #9198e5);
  display: flex;
  font-family: 'Inter UI', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 300px;
}
.title {
  font-size: 1.5em;
  height: 29px;
  margin-bottom: 0;
}
.text {
  color: #667;
  font-size: 1em;
  height: 38px;
  margin: 5px 0 0;
}
.form {
  transform-origin: 0 50%;
  transition: transform 500ms, opacity 500ms;
}
.card.saving .form {
  transform: translateY(-16px) scale(.8);
}
.card.done .form {
  transform: translateY(-16px) scale(.8);
  opacity: 0;
}
.input {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  height: 40px;
  margin-top: 20px;
  outline: none !important;
  position: relative;
  width: 100%;
  border-bottom: 2px solid black;	
}
@keyframes Rotate {
  0% { transform: rotate(0); opacity: 1; }
  25% { transform: rotate(360deg); opacity: 1; }
  50% { transform: rotate(720deg); opacity: 1; }
  75% { transform: rotate(1080deg); opacity: 1; stroke-dasharray: 6 48; stroke-dashoffset: -42;}
  100% { transform: rotate(1080deg); opacity: 1; stroke-dashoffset: 0; stroke-dasharray: 36 48;}
}
@keyframes ScaleDown {
  0% { transform: scale(1); }
  100% { transform: scale(0);}
}

.subscribed-topic-name {
	font-weight: bold;
}

.topic-messages h5 {
	margin-bottom: 15px;
}

.topic-messages .message {
	font-weight: bold;
	margin-bottom: 0;
}

.topic-messages .message .message-id {
    font-weight: normal;
    color: #939393;
}